# Logs
logs
*.log
yarn-debug.log*
yarn-error.log*

# Modules
node_modules/

# Yarn
.yarn-integrity
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# Develop
dist
build
